body {
    background-image: url("Seychelles.jpg");
    background-color: #cccccc;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    opacity: 0.1;
}


nav:hover{
    opacity: 0.8;
}

#plane{
    width: 15%;
    height: auto;
    margin-top: 3%;
}

#tourist{
    width: 15%;
    height: auto;
    margin-top: 8%;
    margin-left: 30%;
}