body {
    background-image: url("tour.png");
    background-color: #cccccc;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    opacity: 0.1;
}


nav:hover{
    opacity: 0.8;
}
